<div flex-item >
    <div class="card">
        <div class="toolbar">
            <span class="toolbar__label fs-title ml">Fisio</span>

            <div class="toolbar__right">
                <lx-search-filter model="searchFilter.second" position="left" filter-width="100%"></lx-search-filter>
            </div>
        </div>
    </div>
</div>

<md-tabs md-dynamic-height md-border-bottom md-selected="0">
	<md-tab label="Pacientes" ui-sref="pacientes">
	</md-tab>
	<md-tab label="Especialidades">
	</md-tab>
</md-tabs>

