<div ng-controller="NavbarController as nav">
<div flex-item >
    <div class="card">
        <div class="toolbar">
            <span class="toolbar__label fs-title ml">Fisio</span>

            <div class="toolbar__right">
                <lx-search-filter model="searchFilter.second" position="left" filter-width="100%"></lx-search-filter>
            </div>
        </div>
    </div>
</div>

<md-tabs md-dynamic-height md-border-bottom md-selected="nav.selectedTab">
	<md-tab label="Pacientes" md-on-select="nav.stateService.go('home.pacientes')">
	</md-tab>
	<md-tab label="Especialidades" md-on-select="nav.stateService.go('home.especialidades')">
	</md-tab>
</md-tabs>
</div>
