<div layout="row" layout-wrap layout-margin layout-fill layout-padding>
	<md-card class="card" ng-repeat="paciente in ::pac.pacientes" flex="30" layout="row">
		<img data-ng-src="{{::paciente.imagem}}" class="md-card-image thumbnail" alt="Foto do paciente">
		<md-card-content>
			<h3 class="md-title">{{::paciente.nome}}</h2>
			<div class="md-caption">Data de nascimento: <strong>{{::paciente.dataNascimento | date : 'dd/MM/yyyy'}}</strong></div>
			<div class="md-caption">Telefones: <strong><span data-ng-repeat="telefone in ::paciente.telefones" data-ng-if="telefone.principal">{{::telefone.numero | phone}}</span></strong></div>
			
		</md-card-content>
	    
	</md-card>
	<md-button class="md-fab md-primary" aria-label="Use Android">
        <md-icon md-svg-src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/3d-transparent-glass-icons-alphanumeric/068116-3d-transparent-glass-icon-alphanumeric-plus-sign-simple.png"></md-icon>
    </md-button>

</div>